@import "tailwindcss";
@plugin "@tailwindcss/typography";

@custom-variant dark (&:is(.dark *));

@theme {
    --font-sans:
        "MiSans", sans-serif, ui-sans-serif, system-ui, sans-serif,
        "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

    --font-mono:
        "JetBrains Mono Variable", ui-monospace, SFMono-Regular, Menlo,
        Monaco, Consolas, "Liberation Mono", "Courier New", "MiSans", monospace;

    /* Fade-in animations for components */
    @keyframes fade-in-up {
        0% {
            transform: translateY(2rem);
            opacity: 0;
        }

        100% {
            transform: translateY(0);
            opacity: 1;
        }
    }

    @keyframes pulsate {
        0% {
            opacity: 0.15;
        }

        50% {
            opacity: 0.25;
        }

        100% {
            opacity: 0.15;
        }
    }

    @keyframes primary-indeterminate-translate {
        0% {
            transform: translateX(0px);
        }
        20% {
            animation-timing-function: cubic-bezier(0.5, 0, 0.701732, 0.495819);
            transform: translateX(0px);
        }
        59.15% {
            animation-timing-function: cubic-bezier(
                0.302435,
                0.381352,
                0.55,
                0.956352
            );
            transform: translateX(83.6714%);
        }
        100% {
            transform: translateX(200.611%);
        }
    }

    @keyframes primary-indeterminate-scale {
        0% {
            transform: scaleX(0.08);
        }
        36.65% {
            animation-timing-function: cubic-bezier(
                0.334731,
                0.12482,
                0.785844,
                1
            );
            transform: scaleX(0.08);
        }
        69.15% {
            animation-timing-function: cubic-bezier(0.06, 0.11, 0.6, 1);
            transform: scaleX(0.661479);
        }
        100% {
            transform: scaleX(0.08);
        }
    }

    @keyframes secondary-indeterminate-translate {
        0% {
            animation-timing-function: cubic-bezier(
                0.15,
                0,
                0.515058,
                0.409685
            );
            transform: translateX(0px);
        }
        25% {
            animation-timing-function: cubic-bezier(
                0.31033,
                0.284058,
                0.8,
                0.733712
            );
            transform: translateX(37.6519%);
        }
        48.35% {
            animation-timing-function: cubic-bezier(
                0.4,
                0.627035,
                0.6,
                0.902026
            );
            transform: translateX(84.3862%);
        }
        100% {
            transform: translateX(160.278%);
        }
    }

    @keyframes secondary-indeterminate-scale {
        0% {
            animation-timing-function: cubic-bezier(
                0.205028,
                0.057051,
                0.57661,
                0.453971
            );
            transform: scaleX(0.08);
        }
        19.15% {
            animation-timing-function: cubic-bezier(
                0.152313,
                0.196432,
                0.648374,
                1.00432
            );
            transform: scaleX(0.457104);
        }
        44.15% {
            animation-timing-function: cubic-bezier(
                0.257759,
                -0.003163,
                0.211762,
                1.38179
            );
            transform: scaleX(0.72796);
        }
        100% {
            transform: scaleX(0.08);
        }
    }
}

@utility card-base {
    @apply rounded-(--radius-large) overflow-hidden bg-(--card-bg) transition;
}

@utility expand-animation {
    @apply relative before:ease-out before:transition active:bg-none hover:before:bg-(--btn-plain-bg-hover) active:before:bg-(--btn-plain-bg-active) z-0 before:absolute before:rounded-[inherit] before:inset-0 before:scale-[0.85] hover:before:scale-100 before:-z-10;
}

@utility link {
    @apply transition rounded-md p-1 -m-1 expand-animation;
}

@utility link-lg {
    @apply transition rounded-md p-1.5 -m-1.5 expand-animation;
}

@utility float-panel {
    @apply top-21 rounded-(--radius-large) overflow-hidden bg-(--float-panel-bg) transition shadow-xl dark:shadow-none;
}

@utility float-panel-closed {
    @apply -translate-y-1 opacity-0 pointer-events-none;
}

@utility search-panel {
    & mark {
        @apply bg-transparent text-(--primary);
    }
}

@utility btn-card {
    @apply transition flex items-center justify-center bg-(--card-bg) hover:bg-(--btn-card-bg-hover) active:bg-(--btn-card-bg-active);

    &.disabled {
        @apply pointer-events-none text-black/10 dark:text-white/10;
    }
}

@utility disabled {
    &.btn-card {
        @apply pointer-events-none text-black/10 dark:text-white/10;
    }
}

@utility btn-plain {
    @apply transition relative flex items-center justify-center bg-none text-black/75 hover:text-(--primary) dark:text-white/75 dark:hover:text-(--primary);

    &:not(.scale-animation) {
        @apply hover:bg-(--btn-plain-bg-hover) active:bg-(--btn-plain-bg-active);
    }

    &.scale-animation {
        @apply expand-animation;

        &.current-theme-btn {
            @apply before:scale-100 before:opacity-100 before:bg-(--btn-plain-bg-hover) text-(--primary);
        }
    }
}

@utility btn-regular {
    @apply transition flex items-center justify-center bg-(--btn-regular-bg) hover:bg-(--btn-regular-bg-hover) active:bg-(--btn-regular-bg-active) text-(--btn-content) dark:text-white/75;
}

@utility link-underline {
    @apply transition underline decoration-2 decoration-dashed decoration-(--link-underline) hover:decoration-(--link-hover) active:decoration-(--link-active) underline-offset-4;
}

@utility toc-hide {
    @apply opacity-0 pointer-events-none;
}

@utility toc-not-ready {
    @apply opacity-0 pointer-events-none;
}

@utility hide-scrollbar {
    scrollbar-width: none;
    -ms-overflow-style: none;

    &::-webkit-scrollbar {
        @apply hidden;
    }
}

@utility text-90 {
    @apply text-black/90 dark:text-white/90;
}

@utility text-75 {
    @apply text-black/75 dark:text-white/75;
}

@utility text-50 {
    @apply text-black/50 dark:text-white/50;
}

@utility text-30 {
    @apply text-black/30 dark:text-white/30;
}

@utility text-25 {
    @apply text-black/25 dark:text-white/25;
}

@utility meta-icon {
    @apply w-8 h-8 transition rounded-md flex items-center justify-center bg-(--btn-regular-bg) text-(--btn-content) mr-2;
}

@utility with-divider {
    @apply before:content-["/"] before:ml-1.5 before:mr-1.5 before:text-(--meta-divider) before:text-sm before:font-medium first-of-type:before:hidden before:transition;
}

@utility btn-regular-dark {
    @apply flex items-center justify-center bg-[oklch(0.45_0.01_var(--hue))] hover:bg-[oklch(0.50_0.01_var(--hue))] active:bg-[oklch(0.55_0.01_var(--hue))] dark:bg-[oklch(0.30_0.02_var(--hue))] dark:hover:bg-[oklch(0.35_0.03_var(--hue))] dark:active:bg-[oklch(0.40_0.03_var(--hue))];

    &.success {
        @apply bg-[oklch(0.75_0.14_var(--hue))] dark:bg-[oklch(0.75_0.14_var(--hue))];
    }
}

@utility success {
    &.btn-regular-dark {
        @apply bg-[oklch(0.75_0.14_var(--hue))] dark:bg-[oklch(0.75_0.14_var(--hue))];
    }
}

@utility is-hidden {
    @apply opacity-0 pointer-events-none;
}

@utility loading-bar-track {
    @apply absolute inset-0 w-full h-full;
}

@utility bar-inner {
    @apply absolute inset-0 bg-(--primary);
}

@layer base {  
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p,
    a,
    span,
    li,
    ul,
    ol,
    blockquote,
    code,
    pre,
    table,
    th,
    td,
    strong {
        @apply transition;
    }

    button,
    [role="button"] {
        &:not(:disabled) {
            @apply cursor-pointer;
        }
    }
}

@layer components {
    #toc-inner-wrapper {
        mask-image: linear-gradient(to bottom, transparent 0%, black 2rem, black calc(100% - 2rem), transparent 100%);
    }
    
    #post-cover {
        img {
            @apply cursor-zoom-in;
        }
    }

    ::selection {
        @apply bg-(--selection-bg)
    }

    .dash-line {
        @apply relative;

        &::before {
            @apply content-[""] absolute w-[10%] h-full left-[calc(50%-1px)] border-l-2 border-dashed border-(--line-color) pointer-events-none transition-all duration-300 -translate-y-1/2;
        }
    }

    .collapsed {
        @apply h-(--collapsedHeight);
    }
}