@reference "./main.css";

.custom-md {
    h1 {
        @apply text-3xl;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        .anchor {
            @apply transition -m-0.5! ml-[0.2ch]! p-0.5! select-none! opacity-0! no-underline!;

            .anchor-icon {
                @apply mx-[0.45ch]!;
            }
        }

        &:hover {
            .anchor {
                @apply opacity-100!;
            }
        }
    }

    a:not(.no-styling) {
        @apply relative bg-none link font-medium text-(--primary) underline decoration-(--link-underline) decoration-1 decoration-dashed underline-offset-4 box-decoration-clone inline-block;

        &:hover,
        &:active {
            @apply decoration-transparent bg-(--btn-plain-bg-hover) border-b border-dashed border-b-(--link-hover) no-underline;
        }
    }

    code {
        @apply bg-(--inline-code-bg) text-(--inline-code-color) px-1 py-0.5 rounded-md overflow-hidden font-mono;
        counter-reset: line;

        &::before {
            @apply content-none;
        }

        &::after {
            @apply content-none;
        }

        span.line {
            &::before {
                @apply text-white/25 mr-4 w-4 inline-block;
                content: counter(line);
                counter-increment: line;
                direction: rtl;
            }

            &:last-child:empty,
            &:last-child:has(> span:empty:only-child) {
                @apply hidden;
            }
        }
    }

    .copy-btn {
        all: initial;
        @apply btn-regular dark:btn-regular-dark opacity-0 shadow-lg shadow-black/50 absolute active:scale-90 h-8 w-8 top-3 right-3 text-sm rounded-lg transition-all ease-in-out z-20 cursor-pointer;

        .copy-icon {
            @apply opacity-100 fill-(--btn-content);
        }

        .success-icon {
            @apply opacity-0 fill-(--btn-content) dark:fill-white;
        }

        &.success {
            .copy-icon {
                @apply opacity-0;
            }

            .success-icon {
                @apply opacity-100;
            }
        }
    }

    .frame {
        &:hover {
            .copy-btn {
                @apply opacity-100;
            }
        }
    }

    .copy-btn-icon {
        @apply absolute top-1/2 left-1/2 transition -translate-x-1/2 -translate-y-1/2 w-4 h-4 fill-white pointer-events-none;
    }

    .expressive-code {
        @apply my-4;

        ::selection {
            @apply bg-(--codeblock-selection);
        }
    }

    ul,
    ol {
        li {
            &::marker {
                @apply text-(--primary);
            }
        }
    }

    blockquote {
        @apply not-italic border-transparent relative;
        font-weight: inherit;

        &::before {
            @apply content-[''] absolute -left-1 block transition bg-(--btn-regular-bg) h-full w-1 rounded-full;
        }

        /* Remove the double quotes from default styles */
        p {
            &::before,
            &::after {
                @apply content-none;
            }
        }
    }

    .katex-display-container {
        @apply max-w-full overflow-x-auto my-4;
    }
}