@reference "./main.css";

.pswp__button {
    @apply transition! bg-black/40! hover:bg-black/50! active:bg-black/60! flex! items-center! justify-center! mr-0! w-12! h-12!;
}

.pswp__button--zoom {
    @apply mt-4! mr-2.5! rounded-xl! active:scale-90!;
}

.pswp__button--close {
    @apply mt-4! mr-4! rounded-xl! active:scale-90!;
}