@reference "./main.css";

/* Page transition animations with Swup */
html {
    &.is-changing {
        .transition-swup-fade {
            @apply transition-all duration-200;
        }
    }

    &.is-animating {
        .transition-swup-fade {
            @apply opacity-0 translate-y-4;
        }
    }
}

/* Main components */
.onload-animation {
    @apply opacity-0 animate-[300ms_fade-in-up_forwards];
}

#navbar {
    animation-delay: 0ms;
}

#sidebar {
    animation-delay: 100ms;
}

#swup-container {
    @apply outline-none;
}

#content-wrapper {
    animation-delay: var(--content-delay);
}

.footer {
    animation-delay: 250ms;
}

#banner-credit {
    animation-delay: 400ms;
}

/* Post content */
#post-container {
    :nth-child(1) {
        animation-delay: calc(var(--content-delay) + 0ms);
    }

    :nth-child(2) {
        animation-delay: calc(var(--content-delay) + 50ms);
    }

    :nth-child(3) {
        animation-delay: calc(var(--content-delay) + 100ms);
    }

    :nth-child(4) {
        animation-delay: calc(var(--content-delay) + 175ms);
    }

    :nth-child(5) {
        animation-delay: calc(var(--content-delay) + 250ms);
    }

    :nth-child(6) {
        animation-delay: calc(var(--content-delay) + 325ms);
    }
}