---
interface Props {
	path: string;
}

const config = {
	el: "#comment",
	path: Astro.props.path,
};
---

<div id="comment"></div>
<script is:inline defer define:vars={{ config }}>
	function loadTwikoo() {
		const script = document.createElement("script");
		script.src =
			"https://cdnjs.cloudflare.com/ajax/libs/twikoo/1.6.44/twikoo.min.js";
		script.onload = () => {
			twikoo.init({
				...config,
				envId: "https://twikoo.xeonzilla.top",
				lang: "zh-CN",
			});
			// Prevent Twikoo's internal <a href="#"> tags from causing the page to scroll to the top.
			const commentContainer = document.getElementById("twikoo");
			if (commentContainer) {
				commentContainer.addEventListener("click", function (e) {
					const selector = 'a[href="#"], svg, [class*="tk-action-"]';
					const targetElement = e.target.closest(selector);
					if (targetElement) {
						e.preventDefault();
						e.stopPropagation();
					}
				});
			}
		};
		document.body.appendChild(script);
	}
	document.addEventListener("loadComment", loadTwikoo, { once: true });
</script>
