name: Biome

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

permissions:
  contents: read

jobs:
  Check:
    runs-on: ubuntu-latest
    name: Check
    steps:
      - name: Checkout
        uses: actions/checkout@v5.0.0
      - name: Setup Biome
        uses: biomejs/setup-biome@v2.6.0
        with:
          version: latest
      - name: Run Biome
        run: biome ci ./src --reporter=github
